body {
    margin: 10px;
    font: 16px 'Open Sans', sans-serif;
  }
  body .gist .gist-meta {
    display: none;
 }
 body .gist .gist-file {
    margin-bottom: 0;
    border: none;
    border-radius: 10px;
}
body .gist .gist-data {
    border-bottom: none;
    border-radius: 10px;
    margin-bottom:10px;
}
body .gist .blob-wrapper table{
  background-color: #1E1E1E;

}
body .gist .blob-num{
  color:rgba(255,255,255,0.3);
}
body .gist .pl-s{
  color:red;
}
body .gist .pl-c1{
  color: #53e1ff;
}
body .gist .pl-en{
  color: #00ff58;
}
body .gist .blob-code,body .gist .pl-smi,body .gist .pl-k{
  color: royalblue;
}

body .gist .pl-ent, body .gist .pl-kos{
  color:#abff00;
}

 body .gist .blob-wrapper {
    border-radius: 10px;
    padding:10px;
    background-color: #1E1E1E;
 }
